<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>YouTube</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- AdminLTE Skins. Choose a skin from he css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skins/_all-skins.min.css')}}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- DataTables -->
    <link rel="stylesheet" href={{ url_for('static', filename = 'plugins/datatables/dataTables.bootstrap.css') }}>

    <!-- Theme style -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/glyphicons-extended.min.css') }}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/iCheck/square/blue.css') }}">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
    page. However, you can choose any other skin. Make sure you
    apply the skin class to the body tag so the changes take effect.
-->

<!-- Theme style -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css') }}">

<!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/colorpicker/bootstrap-colorpicker.min.css') }}">
  <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/timepicker/bootstrap-timepicker.min.css') }}">
  <!-- Select2 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/select2/select2.min.css') }}">
  <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/iCheck/all.css') }}">

 <!-- daterange picker -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker-bs3.css') }}">
  <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datepicker/datepicker3.css') }}">

</head>
<body class="hold-transition sidebar-mini skin-blue">
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>YT</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>YouTube</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="hidden-xs"></span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <p>
                Name: lolcats<br>

            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-right">
                <a href="" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>

<!-- Control Sidebar Toggle Button
<li>
<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
</li>
-->
</ul>
</div>
</nav>
</header>

<!-- =============================================== -->

<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li><a href="{{ url_for('top20views') }}">Top 20 Videos by Views</a></li>
            <li><a href="{{ url_for('top20likes') }}">Top 20 Video by Likes</a></li>
            <li><a href="{{ url_for('top20Comments') }}">Top 20 Videos by Comments</a></li>
            <li><a href="{{ url_for('top20dislikes') }}">Top 20 Videos by Dislikes</a></li>
            <li><a href="{{ url_for('top20channels') }}">Top 20 Channels by Subscriber</a></li>
            <li><a href="{{ url_for('top20allviews') }}">Top 20 Channels by Total Views</a></li>
            <li><a href="{{ url_for('top20videocount') }}">Top 20 Channels by Video Count</a></li>
            <li><a href="{{ url_for('ScatterPlot') }}">Scatter Plot for Channel Data</a></li>
            <li><a href="{{ url_for('top20likesbyviews') }}">Top 20 Videos by Likes Per Views</a></li>
            <li><a href="{{ url_for('top20dislikesbyviews') }}">Top 20 Videos by Dislikes Per Views</a></li>
            <li><a href="{{ url_for('top20viewsbysubscribers') }}">Top 20 Vidoes by Views Per Subscriber</a></li>
            <li><a href="{{ url_for('top20likesbydislikes') }}">Top 20 Videos by Likes Per Dislikes</a></li>
            <li><a href="{{ url_for('top20commentsbyviews') }}">Top 20 Videos by Comments Per Views</a></li>
            <li><a href="{{ url_for('testingURL') }}">Predict URL</a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>


{% block body %}

        {% endblock %}


<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<script src="{{ url_for('static', filename = 'plugins/jQuery/jQuery-2.2.0.min.js') }}"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- iCheck -->
    <script src="{{ url_for('static', filename = 'plugins/iCheck/icheck.min.js' )}}"></script>
<!-- AdminLTE App -->
    <script src="{{ url_for('static', filename = 'js/app.js') }}"></script>

<!-- SlimScroll -->
    <script src="{{ url_for('static', filename = 'plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ url_for('static', filename = 'plugins/fastclick/fastclick.js' )}}"></script>

<!-- AdminLTE for demo purposes -->
    <script src="{{ url_for('static', filename='js/demo.js') }}"></script>
<!-- DataTables -->

     <script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
     <script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<!-- Select2 -->
    <script src="{{ url_for('static', filename='plugins/select2/select2.full.min.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

<!-- bootstrap time picker -->
    <script src="{{ url_for('static', filename='plugins/timepicker/bootstrap-timepicker.min.js') }}"></script>
 <script>
    $(function () {
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            order: [],
            columnDefs: [{orderable:false, targets: [0,1,2,3,4]}],
            "info": true,
            "autoWidth": false
        });
    });
    </script>
</body>
</html>