{% extends "main.html" %}

{% block body %}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Scatter of Subscriber Count / 1000 and View Count / 10000
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <h4>
                This page contains scatter plots of:<br>Subscriber Count / 1000 vs View Count / 10000
                <br>Total Video Count / 10 and Total View Count / 10000
            </h4>
            <br>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-11">
            <embed type="image/svg+xml" src="{{scatter_plot|safe}}" style='max-width:650px'/>
        </div>
    </div>
</section>
</div>
{% endblock %}